/* SupplierFormModal */

.supplier-modal-title {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}

.supplier-form {
  margin-top: 16px;
}

.supplier-modal-ok-btn {
  background-color: #e31837;
  border-color: #e31837;
}
